{% extends 'layout.html' %}

{% block body %}

<hr>

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}

<h3>DASHBOARD </h3>
<hr>

{% from "includes/_formhelpers.html" import render_field %}

<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.temp, class_="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.time, class_="form-control") }}
  </div>


  <p><input class="btn btn-primary" type="submit" value="Submit">

</form>

<form action="" method="POST">
  <div class="form-group">
    <label>Current Temperature: </label>
    <output name="result"> {{mostRecent.temperature}} C </output>
    <hr>

    <label>Current Voltage: </label>
    <output name="result"> {{mostRecent.voltage}} V</output>
  </div>

</form>

<div style="height:300px;overflow:auto;">
  <table class = 'table table-striped table-condensed table-fixed'>


    <tr>
      <th>Temperature (C)</th>
      <th>Voltage (V)</th>
      <th>Time</th>
    </tr>

    {% for article in articles %}

    <tr>
      <td>{{article.temperature}}</td>
      <td>{{article.voltage}}</td>
      <td>{{article.time}}</td>
    </tr>

    {% endfor %}

  </table>

</div>

<a class = "btn btn-success" href="/export/<int:id>"s>Export</a>
<div style="padding: 10px">
  {{histHtml}}
</div>
{% endblock %}
